.Content .new-pass {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.Content h2 {
  color: #2c3e50;
  font-size: 3rem;
  padding: 1rem;
  font-weight: 600;
}

.Content .call-pass {
}

.Content .manager {
}
